/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

a {
    cursor: default;
}

/****** header ******/
header {
    display: flex;
    justify-content: space-between;
    height: 80px;   
}

.header-img {
    margin-top: 30px;
    margin-bottom: 30px;
}
header ul {
    display: flex;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
}

header .header-hebergements  {
    margin-right: 60px;
    padding-top: 15px;
    border-top: 2px solid transparent;
}

header .header-activite  {
    padding-top: 15px;
    border-top: 2px solid transparent;
}

header li:hover {
    border-top-color: var(--main-color);
    color: var(--main-color);
}

/****** nav ******/
/*.research-filters h2{
    margin-right: 15px; 
}*/

.bouton-lien-nav {

    margin-right: 15px;
    padding: 10px;
    border: 3px solid var(--main-bg-color);
    border-radius: 20px;
}
.research-filters {
    height: 50px;
}

.research-filters h2{
    margin: 0;
}
input {
    text-align: center;
}

.research-form {
    width: 380px;
    margin-bottom: 15px;   
}

.research-title {
    margin-bottom: 30px;
}

.research-title h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.research-title p {
    margin-top: 5px;
    margin-bottom: 0;
}

.input-group {
    display: flex;
    height: 50px;
    border: 1px solid var(--main-bg-color);
    border-radius: 15px;
}

.input-icon {
    background-color: var(--main-bg-color);
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.research-input {
    flex-grow: 1;
    border: 0;
    padding: 0;
}

.research-button {
    width: 135px;
    border: 0;
    padding: 0;
    background-color: var(--main-color);
    color: var(--filter-bg-color);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.research-filters {
    display: flex;
    align-items: center;
}

.information {
    display: flex;
    align-items: center;
}
.information-icon {
    width: 20px;
    height: 20px;
    border: 3px solid var(--main-bg-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    
}

.bouton-lien-nav {
    background-color: transparent;
}

.bouton-lien-nav:hover {
    background-color: var(--filter-bg-color);
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
   
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/*.hebergement-title {
    padding: 30px 0 30px 30px ;
 }*/
 
.hebergements-cards .card-content {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    gap: 25px 25px;  
}

.hebergements-cards a {
    width: 30%;  
}

.hebergements-cards a img {
    height: 120px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px ;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** activites ******/

.activite {
    margin-top: 30px;
    margin-bottom: 30px;
}

.activite-title {
   padding: 30px 0 30px 30px ;
}

.activite-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 30px 30px;
}

.activite-cards .card-content {
    padding-left: 20px;
}

.activite-cards .card {
    padding: 0;
}
.activite a {
    width: 23%;
}

.activite-cards a img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/****** footer ******/
footer {
    display: flex;
    /*flex-wrap: wrap;*/
    background-color: var(--main-bg-color);
    justify-content: space-between;    
}

.propos-footer, .hebergements-footer, .assistance-footer {
    /*width: 33%;*/
    flex-grow: 1;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}






/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}