/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.hebergements-and-populaires p {
    font-size: 14px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

a {
    cursor: default;
}

/****** header ******/
header {
    display: flex;
    justify-content: space-between;
    /*height: 80px; */ 
}

.header-img {
    margin-top: 30px;
    margin-bottom: 30px;
}

header ul {
    display: flex;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
}

header .header-hebergements  {
    margin-right: 60px;
    padding-top: 15px;
    border-top: 2px solid transparent;
}

header .header-activite  {
    padding-top: 15px;
    border-top: 2px solid transparent;
}

header li:hover {
    border-top-color: var(--main-color);
    color: var(--main-color);
}

/****** nav ******/
.research-container {
    margin: 30px 0 35px 0;
}
.bouton-lien-nav {
    display: inline-block;
    margin-right: 15px;
    padding: 10px;
    border: 2px solid  #d9d9d9;
    border-radius: 25px;
    text-align: center;
}

.bouton-lien-nav .icon i {
    font-size: 22px;
}

.eco {
    width: 173px;
    box-sizing: border-box;
}

.familial {
    width: 134px;
    box-sizing: border-box;
}

.romantique {
    width: 170px;
    box-sizing: border-box;
}

.pepites {
   width: 167px;
   box-sizing: border-box;
   
}

.research-filters {
    display: flex;
    align-items: center;
    margin: 30px 0 35px 0;
    font-size: 17px;
    font-weight: bold;
}

.research-filters p {
    width: 70px;
}

.research-filters h2{
    margin: 0;
}

input {
    text-align: center;
}

.research-form {
    width: 377px; 
}

.research-title {
    margin-bottom: 35px;
}

.research-title p {
    margin-top: 8px;
    margin-bottom: 0;
}

.input-group {
    display: flex;
    height: 48px;
    border: 1px solid var(--main-bg-color);
    border-radius: 15px;
}

.input-icon {
    background-color: var(--main-bg-color);
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.fa-location-dot {
    color: black;
    width: 14px;
    height: 18px;
}

::placeholder {
    font-weight: bold;
    font-size: 18px;
    color: black;
}

button[type="submit"] {
    font-weight: bold;
    font-size: 18px;
}
    
.research-input {
    flex-grow: 1;
    border: 0;
    padding: 0;
}

.research-button {
    width: 132px;
    border: 0;
    padding: 0;
    background-color: var(--main-color);
    color: var(--filter-bg-color);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.information {
    display: flex;
    align-items: center;
}

.information-icon {
    width: 22px;
    height: 22px;
    border: 1px solid  #d9d9d9;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;  
}

.bouton-lien-nav {
    background-color: transparent;
}

.bouton-lien-nav:hover {
    background-color: var(--filter-bg-color);
}

.fa-money-bill-wave {
    margin-right: 10px;
    width: 22px;
    height: 16px;
}

.fa-person {
    margin-right: 10px;
    width: 22px;
    height: 13px;
}

.fa-heart {
    margin-right: 10px;
    width: 22px;
    height: 18px;
}

.fa-fire {
    margin-right: 10px;
    width: 20px;
    height: 18px;
}

.information-icon i {
    font-size: 10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
   
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards .card-content {
    
    padding: 0 10px 15px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px 30px;  
}

.hebergement-title {
    margin: 0 0 33px 0;
}

.hebergements-cards .card-title {
    margin: 0;
}

.hebergements-cards .card-subtitle {
   margin: 10px 0 8px 0;

}

.hebergements-cards a {
    width: 30%;  
}

.hebergements-cards a img {
    height: 110px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px ;
    display: block;
    padding-bottom: 5px;
}

.show-more {
    margin: 30px 0 0 0;
}

.show-more h3 {
    margin: 0;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** activites ******/
.activite {
    margin-top: 30px;
    margin-bottom: 30px;
}

.activite-title {
   padding: 30px 0 30px 30px ;
}

.activite-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 30px 30px;
}

.activite-cards .card {
    padding: 0;
    height: 439px;
}

.activite-cards .card-title {
    margin: 0;
    padding: 20px;
}

.activite a {
    width: 23%;
}

.activite-cards a img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/****** footer ******/
footer {
    display: flex;
    background-color: var(--main-bg-color);
    justify-content: space-between; 
}

.propos-footer, .hebergements-footer, .assistance-footer {
    padding: 20px 0 20px 20px; 
}

.hebergements-footer {
    padding: 20px 0 20px 20px; 
}

.propos-footer h3, .hebergements-footer h3, .assistance-footer h3 {
    margin: 0;
} 

footer li {
    margin-top: 10px;
}

.propos-footer, .hebergements-footer, .assistance-footer {
    width: 33%;  
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activite-cards .card {
        padding: 0;
        height: 270px;
    }

    .activite-cards a img {
        width: 100%;
        height: 200px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .main-container {
        padding: 0;
    } 
/****** header ******/
    header {
        flex-direction: column;
        /*height: auto;*/
        border-bottom: 2px solid var(--main-bg-color) ;
    }

    .header-img {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 79px;
        margin: 0;
    }

    header ul {
        height: 36px;
        justify-content: space-around;
    }

    header .header-hebergements  {
        padding: 0;
        margin: 0;
        border-top: 0;
        border-bottom: 2px solid transparent;
        width: 50%;
        text-align: center;
    }
    
    header .header-activite  {
        padding: 0;
        margin: 0;
        border-top: 0;
        border-bottom: 2px solid transparent;
        width: 50%;
        text-align: center;
    }
    
    header li:hover {
        border-bottom-color: var(--main-color) ;
        color: var(--main-color);
    }

/****** nav ******/
    .research-container {
    margin: 30px 0 35px 0;
    padding: 0 20px;
    }

    .research-form {
        width:100%; 
    }

    .research-filters {
        flex-wrap: wrap;
   }

   .research-input {
    text-align: initial;
    padding-left: 20px;
   }

   button[type="submit"] {
    font-weight: bold;
    width: 50px;
    height: 49px;
    font-size: 0;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.3);
    }
    
   button[type="submit"]::before {
        content:"\f002";
        font-family: "Font Awesome 5 Free";
        width: 17px;
        height: 17px;
        font-size: 17px;
        color: white;
    }

    .research-button {
        border-radius: 15px;
    }
    
    .bouton-lien {
        display: flex;
        flex-wrap: wrap;
        column-gap: 10px;
        row-gap: 20px;
    }

    .bouton-lien-nav {
        text-align: left;
        padding: 10px 10px 10px 20px;
        font-size: 14px;
    }

    .eco ,.familial ,.romantique ,.pepites {
        width: 48%;
    }

    .familial ,.pepites ,.eco ,.romantique  {
        margin: 0;
    }

    .information p {
        flex: 1;
        padding-left: 5px;
    }
    
/****** main ******/
    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }  

    .hebergements-and-populaires .populaires {
        background-color: var(--main-bg-color);
        border-radius: 0;
    }

    .hebergements-and-populaires .hebergements {
        background-color: initial;
        border-radius: 0;
    }

    .hebergements-and-populaires section {
        padding: 20px 20px;
    }

    .hebergements-cards, .populaires-cards, .activite-cards {
        flex-direction: column; 
    }

    .hebergements-cards a, .populaires-cards a, .activite-cards a {
        width: 100%;
    }
    .hebergement-title {
        margin-bottom: 15px;
    }

    .hebergements-cards {
        row-gap: 15px;
    }

    .populaires-cards .card {
        margin-top: 15px;   
    }

    .populaires {
        margin-top: 0;
    }

    .activite-cards {
        row-gap: 15px;
        padding: 0 20px 30px 20px;
    }
 
/****** footer ******/
    footer {
        flex-direction: column;   
    }

    .propos-footer, .hebergements-footer, .assistance-footer {
        width: 100%;
    }
}  